body,html{
background-color: white;
}

/* nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #3779ff;
    height: 3%;
} */

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.ft{
    color: grey;
    text-decoration: none;
    transition: all .2s;
}
.ft:hover{
    color: blue;
    text-decoration: none;
}
#say{
    color: black;
    background-color: white;
    transition: all .3s;
}
#say:hover{
    color: white;
    background-color: black;
}
.text{
    width: 100%;
    height: auto;
    border: solid 1px gray;
    border-radius: 6px;
    color: white;
    transition: all .3s;
    background-color: gray;
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.text:hover{
    background-color: black;
    color: white;
}
spacer{
    width: 10%;
}